body{
    background-image: url('../images/Registration.jpeg');
    background-size: cover;
    box-sizing: border-box;
}
.register_form{
    width: 700px;
    margin-left: 400px;    
    border: 2px;  
    height: 400px;
    border: 2px solid green;
    padding: 50px;
    margin-top: 10%;
}
label{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    float:left;
    width:50%;
       
  }

  input[type=password ]{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    float:left;
    width:50%;
    
  }  
  
  input[type = text]{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    float:left;
    width:50%;        
  }

  input[type = email]{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    float:left;
    width:50%;        
  }

  input[type=submit] {
    background-color: blue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 45%;
    width: 25%;
    margin-top: 30px;
    
  }