
.login_details{
    width: 100;
    height: 70px;
    background-color: red; 
  
}  

.log{
    width: 50%;
    float: right;
    height: 70px;
    padding-left: 30%;
}

.login_details img{
    width: 100px;
    height: 70px;
    margin-left:30px ;
}
.log img{
    height: 70px;
    width: 70px;
}


.log ul li{
    list-style-type: none;
    display: inline;
    padding-left: 5px;
    }


.navbar{
    background-color: rgb(100, 9, 62);
    height: 80px;
    position: sticky;
    top: 0;
    width: 100%;
    opacity: 0.9;
}
.navbar ul{
 float: right;
  
}
.navbar ul li{
    list-style-type: none;
    display: inline-block;
    margin-left:10px;
}
.navbar a{
    color: blanchedalmond;
}

.login_btn{
    width:50px;
    height: 50px;
}
.image_con{
  margin-right: auto;
  margin-left: auto;
  width: 84.3%;
}
.image_con img{
    width: 100%;
}
.container{
    height: 1000px;
    background-image: url(/images/im8.jpg);
}
.con_section{
    width: 100%;
    display: inline-block;
    background-color: chocolate;
    height: 500px;
}
 

.con_form{
    background-image: url(/images/img3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10%;
   
}
.learn_photos{float: right;
    background-color: darkmagenta;
    width: 45%;
    background-color: rgb(197, 29, 57);
    float: right;
    
}
#slider{
    width: 94%;
    height: 400px;
  background-color: #9eb7f0;
    margin-top: 5px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 0px;
}


#slider{
height: 350px;
 overflow: hidden;
   
}
#slider figure div{
  float: left;  
    width: 20%;
}
#slider figure img{
    width: 100%;
    float: left;
    height: 100%;
    background-size: cover;
    border-radius: 0%;
}  
#slider figure{
    position: relative;
    width: 500%;
    margin: 0px;
    left: 0;
    animation: 50s ravi infinite;  
}



  @keyframes ravi { 
      0%{
        left: 0%;  
      }
     10%{
         left: 0%;   
      }
    12%{
          left: -100%;  
      }
     22%{
          left: -200%;  
      }
     24%{
           left: -200%; 
      }
     34%{
           left: -200%; 
      }
     36%{
           left: -300%; 
      }
     46%{
           left: -300%; 
      }
     48%{
           left: -400%; 
      }
     58%{
           left: -400%; 
      }
    60%{
          left: -300%;  
      }
     70%{
           left: -300%; 
      }
      72%{
           left: 200%; 
      }
     82%{
           left: -200%; 
      }
     84%{
           left: -100%; 
      }
     94%{
           left:-100%; 
      }
     96%{
           left: 0%; 
      }

  }
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }

  .fotter.row{
      padding: 60dp;
      background-color: blue;
      height: 200px;
  }
  .container p{
      align-items: center;
      text-align: center;
  }
  .container h3{
      align-items: center;
      text-align: center;
  }
  .about{
      background-image: url(/images/img21.jpeg);
      height: 400px;
      background-size: cover;
  }
